Repository Quansight/ragna, pull requests merged in 2024-06, with the labels that each got.

#376 [ENH] Add support for Ollama assistants
  docs/examples/gallery_streaming.py
  docs/tutorials/gallery_python_api.py
  ragna/assistants/__init__.py
  ragna/assistants/_ai21labs.py
  ragna/assistants/_anthropic.py
  ragna/assistants/_cohere.py
  ragna/assistants/_google.py
  ragna/assistants/_http_api.py
  ragna/assistants/_llamafile.py
  ragna/assistants/_ollama.py
  ragna/assistants/_openai.py
Labels: type: enhancement 💅, dev: components

#427 remove welcome modal
  ragna/deploy/_ui/css/modal_welcome/button.css
  ragna/deploy/_ui/main_page.py
  ragna/deploy/_ui/modal_welcome.py
  ragna/deploy/_ui/styles.py
Labels: type: maintenance 🛠️, area: web-ui 💻

#418 unify API and UI servers
  .github/actions/setup-env/action.yml
  ragna/__main__.py
  ragna/_cli/__init__.py
  ragna/_cli/config.py
  ragna/_cli/core.py
  ragna/_utils.py
  ragna/core/_document.py
  ragna/deploy/_api/__init__.py
  ragna/deploy/_api/core.py
  ragna/deploy/_cli/core.py
  ragna/deploy/_config.py
  ragna/deploy/_core.py
  ragna/deploy/_ui/api_wrapper.py
  ragna/deploy/_ui/app.py
  ragna/deploy/_ui/components/file_uploader.py
  ragna/deploy/_utils.py
  tests/deploy/api/test_batch_endpoints.py
  tests/deploy/api/test_components.py
  tests/deploy/api/test_e2e.py
  tests/deploy/api/utils.py
  tests/deploy/test_config.py
Labels: dev: deploy

#431 re-enable browser opening functionality
  ragna/_cli/core.py
  ragna/deploy/_core.py
  tests/deploy/api/utils.py
Labels: dev: deploy

#434 introduce engine for API
  pyproject.toml
  ragna/core/_components.py
  ragna/core/_rag.py
  ragna/deploy/_api.py
  ragna/deploy/_api/__init__.py
  ragna/deploy/_api/core.py
  ragna/deploy/_api/database.py
  ragna/deploy/_core.py
  ragna/deploy/_database.py
  ragna/deploy/_engine.py
  ragna/deploy/_orm.py
  ragna/deploy/_schemas.py
  tests/deploy/api/conftest.py
Labels: dev: deploy
